<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "nav-link navbar-custom" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <%= link_to "My Grades", grades_path, class: "nav-link navbar-custom" %>
            </li>
            <li class="nav-item">
                <%= link_to "Peer Evaluations", new_grade_path, class: "nav-link navbar-custom" %>
            </li>
              <li class="nav-item">
                <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link navbar-custom" %>
            </li>
          </ul>
          <div style="text-align: right">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link navbar-custom" %>
          </div>
        <% else %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link navbar-custom" %>
          </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link navbar-custom" %>
          </li>
          </ul>
        <% end %>
    </div>
  </div>
</nav>